<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/_header %>
  </head>
  <body>
    <% if (users && users[username]) { %>
      <!-- urlsDatabase from route / -->
      <ul>
        <!-- looping through the urlsDatabase -->
        <% for (let short in urls[username]) { %>
          <!-- show short url - show long url -->
          <li>
            <a href="<%= urls[username][short] %>"><%= short %></a> - http://localhost:8080/u/<%= short %> - <%= urls[username][short] %>

            <a href="/urls/<%= short %>">Edit</a>
            <!-- use short for short url to delete -->
            <!-- <form method="POST" action="/urls/<%= short %>/delete">-->
            <form method="POST" action="/urls/<%= short %>/delete">
              <input type="submit" value="Delete">
            </form>
          </li>
        <% } %>
    <% } %>
      <% if (users && users[username]) { %>
      <li><a href="/urls/new">Shorten URL</a></li>
      <% } %>
    </ul>
  </body>
</html>